/**
 * Document: Project Imphal Stylesheet
 * Author: Pritam Pebam
 * Email: ptamzz@gmail.com
 * Version: 1.0.0
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body { line-height: 1;}
ol, ul { list-style: none; }
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

/*  CSS Reset Ends */

/* PiDragon Generic Styles */

a { text-decoration: none; color: #2889C3; }
    a:active { color: #51B4E5; }

.left { float: left; }
.right { float: right; }
.clear:after { content: ' '; display: block; clear: both; }

h1 { font-size: 30px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

.meta-text-14 { font-size: 14px; color: rgba(0,0,0,.6); }
.meta-text-12 { font-size: 12px; color: rgba(0,0,0,.5); }

p { line-height: 1.4em; }

/* PiDragon Generic Styles */

/* Blinking Cursor */
#typed-cursor{
    opacity: 0;
    font-weight: 100;
    display: none;
    /*-webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;*/
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Blinking cursor styling ends */

body {
    /*font-family: Georgia, Times, "Times New Roman", serif;*/
    font-family: "Ek Mukta", "Droid Sans", "Helvetica", Arial, sans-serif;
    min-height: 740px;
    -webkit-font-smoothing: antialiased;
}

#welcome-msg { display: none; background-color: #2889C3; }
#sandbar { position: relative; }
    #home-logo { position: relative; left: 200px; padding: 15px 10px; width: 300px; }
    #menu {  cursor: pointer; position: absolute; padding: 15px 10px; right: 100px; z-index: 0; top: 15px; width: 60px; height: 60px; }
#aside { background-color: #2889C3; }

#main { min-height: 600px; overflow: hidden; position: relative; }
#aside { min-height: 400px; }

.isotope { padding: 40px 0; }

#arrowkey { position: absolute; right: 70px; bottom: 30px; text-align: center; }



/** Quiz Main panel **/
.q-title {  }
.q-result { position: absolute; width: 200px; top: 0; left: 0; }
    .q-res-title { margin-top: 80px; }

#share { 
    border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; 
    position: absolute; width: 100%; left: 50%; margin-left: -50%; 
    z-index: 1000; top: 60px; background-color: rgba(255,255,255,1); /* rgba(40,137,195,0.6);  */
    min-height: 300px;
}

    .result-title { margin: 25px; }
    .display-results { position: absolute; top: 100px; left: 25px; width: 200px; min-height: 300px; }
    .result-message { position: absolute; top: 100px; left: 225px; width: 875px; min-height: 300px; padding: 0 40px; }

.timer-div, .steps-div { text-align: center; background-color: #2889C3; padding: 30px 0; margin-bottom: 15px; }
    .timer-div h3, .steps-div h3 { margin-bottom: 25px; color: #FFF; }
.timer-result, .timer-result { font-size: 40px; color: #FFF; margin-bottom: 10px; }

.big-title { font-size: 40px; line-height: 1.4em; }

.orange { color: #e57c25;}

.top-margin { margin-top: 25px; }


/* Custom Code starts */
.home .each-page {  }
    .home:after { display: block; content: ' '; clear: both; }

.wrapper { width: 1200px; position: relative; left: 50%; margin-left: -600px; }
    .wrapper:after { content: ' ';, display: block; clear: float; }
        .wrapper .margin { padding-top: 20px; color: #6CCEF4; padding-bottom: 20px; }
    .home .wrapper { padding-left: 40px; }

.parawrap { width: 750px; top: 150px; position: absolute; }
    #firstline, #secondline { font-size: 45px; color: #6CCEF4; line-height: 1.6em; }
        #firstline {  }
        #secondline { font-size: 70px; }
        #thirdline { margin-top: 70px; font-size: 45px; color: rgba(255,255,255,.8); }
            .round { 
                display: none; color: #25758E; font-size: 25px; font-weight: bold; background-color: #6CCEF4; 
                position: relative; top: 5px; left: 20px; padding: 5px 10px; border-radius: 25px; height: 35px; 
            }
        #thirdline a:hover .round { color: #6CCEF4; background-color: #3498D3; }

.main-header { margin-top: 20px; color: #6CCEF4; font-size: 30px; }

/*** Quiz One ****/
.quiz-one { margin-top: 50px; height: 520px; }
    .quiz-name { text-align: center; color: #903c97; font-size: 30px; }
    .quiz-area { padding-top: 45px; position: relative; display: none; }
    .quiz-area:after{ display: block; content: ' '; clear: both; }
        .groups {  display: none; }
        .img { 
            position: relative; width: 500px; height: 420px; background-color: #CCC; 
            float: left; cursor: pointer; overflow: hidden;
        }
            .img:after {
                content: ''; display: block; width: 500px; height: 418px; position: absolute; top: 0; left: 0;z-index: 10;
                
                /* For image Vignette Effect */
                background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(2,0,0,0.45) 89%, rgba(0,0,0,0.51) 100%); /* FF3.6+ */
                background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(89%,rgba(2,0,0,0.45)), color-stop(100%,rgba(0,0,0,0.51))); /* Chrome,Safari4+ */
                background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(2,0,0,0.45) 89%,rgba(0,0,0,0.51) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(2,0,0,0.45) 89%,rgba(0,0,0,0.51) 100%); /* Opera 12+ */
                background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(2,0,0,0.45) 89%,rgba(0,0,0,0.51) 100%); /* IE10+ */
                background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(2,0,0,0.45) 89%,rgba(0,0,0,0.51) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#82000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }

            .img:hover:after{ 
                background-image: none;
                background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%); /* FF3.6+ */
                background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(0%,rgba(0,0,0,0)), color-stop(0%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
            }
        
            .img-1 { background: url(../img/photo/f-1.jpg); background-repeat: no-repeat; background-size: 500px; background-position: 0 50%; }
            .img-2 { background: url(../img/photo/f-2.jpg); background-repeat: no-repeat; background-size: 500px; background-position: 0 50%; }
            .img-3 { background: url(../img/photo/f-3.jpg); background-repeat: no-repeat; background-size: 500px; background-position: 0 50%; }
            .img-4 { background: url(../img/photo/f-4.jpg); background-repeat: no-repeat; background-size: 500px; background-position: 0 50%; }
            .img-5 { background: url(../img/photo/f-5.jpg); background-repeat: no-repeat; background-size: 500px; background-position: 0 50%; }
            .img-6 { background: url(../img/photo/f-6.jpg); background-repeat: no-repeat; background-size: 500px; background-position: 0 50%; }

    .groups { position: absolute; left: 0; right: 0; }
    .or { font-size: 50px; line-height: 1.4em; position: absolute; left: 460px; top: 210px; width: 50px; height: 50px; padding: 15px; border-radius: 50px;  z-index: 10; background-color: #6CCEF4; color: #FFF; display: block; }
        .or p { position: relative; margin-top: -12px; }

    .quiz-start { 
        position: absolute; left: 50%; top: 200px; width: 200px; padding: 15px; margin-left: -100px; 
        background-color: #6CCEF4; text-align: center; color: #25758E; font-size: 30px; cursor: pointer; 
    }
        .quiz-start:active { color: #FFF; background-color: #25758E; }

.more-quizzes { padding-bottom: 50px; }
    .more-quizzes:after { content: ' '; display: block; clear: both; }
    .more-quizzes .quiz .quiz-name { color: rgba(255,255,255,.8); font-size: 24px; width: 300px; margin: 15px 25px 20px 0; text-align: left; }
    .teaser-graphics { width: 300px; height: 150px; background-color: #333; }

.graph-area { position: relative; }

    .graph-g { position: absolute; width: 120px; }
        .graph-1 { left: 0; top: 50px; }
        .graph-2 { left: 50px; top: 50px; }
        .graph-3 { left: 100px; top: 50px; }
        .graph-4 { left: 150px; top: 50px; }
        .graph-5 { left: 200px; top: 50px; }
        .graph-6 { left: 250px; top: 50px; }

        /* Temporary */
        .graph-gen { display: none; width: 100px; height: 100px; border-radius: 100px; top: 0px; left: 50%; margin-left: -50px; position: absolute; }
        .graph-all { display: none; top: 100px; left: 50%; margin-left: -30px; position: absolute;}
        .graph-you { top: 0px; left: 50%; position: absolute; }

        .graph-1 .graph-gen { background-color: rgba(223, 199, 186, .6); /*#dfc7ba;*/ }
        .graph-1 .graph-all { width: 60px; height: 60px; border-radius: 60px; background-color: rgba(223, 199, 186, .6); }
        .graph-1 .graph-you { border-radius: 50px; background-color: rgba(223, 199, 186, .6);  }

        .graph-2 .graph-gen { background-color: rgba(138, 96, 71, .6); /*#8a6047;*/ }
        .graph-2 .graph-all { width: 60px; height: 60px; border-radius: 60px; background-color: rgba(138, 96, 71, .6); }
        .graph-2 .graph-you { border-radius: 50px; background-color: rgba(138, 96, 71, .6); }

        .graph-3 .graph-gen { background-color: rgba(211, 180, 151, .6); /*#8a6047;*/ }
        .graph-3 .graph-all { width: 60px; height: 60px; border-radius: 60px; background-color: rgba(211, 180, 151, .6); }
        .graph-3 .graph-you { border-radius: 50px; background-color: rgba(211, 180, 151, .6); }

        .graph-4 .graph-gen { background-color: rgba(205, 167, 158, .6); /*#8a6047;*/ }
        .graph-4 .graph-all { width: 60px; height: 60px; border-radius: 60px; background-color: rgba(205, 167, 158, .6); }
        .graph-4 .graph-you { border-radius: 50px; background-color: rgba(205, 167, 158, .6); }

        .graph-5 .graph-gen { background-color: rgba(173, 127, 101, .6); /*#8a6047;*/ }
        .graph-5 .graph-all { width: 60px; height: 60px; border-radius: 60px; background-color: rgba(173, 127, 101, .6); }
        .graph-5 .graph-you { border-radius: 50px; background-color: rgba(173, 127, 101, .6); }

        .graph-6 .graph-gen { background-color: rgba(208, 173, 141, .6); /*#8a6047;*/ }
        .graph-6 .graph-all { width: 60px; height: 60px; border-radius: 60px; background-color: rgba(208, 173, 141, .6); }
        .graph-6 .graph-you { border-radius: 50px; background-color: rgba(208, 173, 141, .6); }

.result-text { position: absolute; left: 450px; }
    .big-text { font-size: 80px; line-height: 1.4em; }
    .score { 
        margin: 25px 0; padding: 15px; border-radius: 3px; font-size: 30px; width: 450px; margin: 35px 0; 
        background-color: #e67d24; color: #FFF; text-align: center;
        cursor: pointer; border: 0;
    }
        .score:active { background-color: #e79044; color: #333; }
        .score:hover { background-color: #d57628; }
    .share { position: absolute; font-size: 20px; }

#central-wrap { min-height: 570px; overflow: hidden; }
#quiz-pane { position: absolute; left: 0; right: 0; width: 100%; }
#map { min-height: 570px; position: absolute; top: 0; width: 100%; }
    #map #map-svg { 
        background: url(../img/world_map_with_points.svg); background-repeat: no-repeat; 
        background-size: 1100px; background-position: 0 50%; 
        height: 590px;
    }

.modal {
    width: 700px;
    padding: 45px 200px;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -550px;
    background-color: rgba(255,255,255,.9);
}
    .modal h3 { margin-bottom: 10px; font-size: 30px; }
    .modal p { font-size: 20px; }
        .modal p.meta-one { font-size: 15px; }
        .modal p.meta-two { font-size: 13px; }


/** NE Geography  */
.q-result .timer { font-size: 36px; color: #ff0000; margin-bottom: 25px; }
.q-result .steps { font-size: 36px; color #00ff00; }

#main-info { background-color: #FFF; height: 700px; }
    #nav { display: none; font-size: 40px; position: absolute; top: 90px; right: 0; width: 300px; height: 700px; z-index: 100; overflow: hidden; }
        #nav div {
            position: relative; top: -65px; left: 300px;
            margin-bottom: 10px;  padding: 30px 40px; display: block; 
            /*border: solid 1px #2179A5; background-color: rgba(40,137,195,.5);*/
            cursor: pointer;
        }
            #nav div:hover { background-color: rgba(40,137,195,.9); }
    
    #panel { position: absolute; top: 0; left: 200px; width: 1000px; }
        #box-arunachal { width: 305px; height: 165px; top: 85px; left: 290px; }
        #box-assam { width: 250px; height: 110px; top: 205px; left: 170px; }
        #box-manipur { width: 85px; height: 100px; top: 315px; left: 360px; }
        #box-meghalaya { width: 150px; height: 55px; top: 290px; left: 160px; }
        #box-mizoram { width: 66px; height: 165px; top: 373px; left: 305px; }
        #box-nagaland { width: 90px; height: 85px; top: 246px; left: 385px; }
        #box-tripura { width: 75px; height: 115px; top: 360px; left: 230px; }
        #box-sikkim { width: 50px; height: 70px; top: 150px; left: 52px; }

        .droppable { position: absolute; }

    #states { position: absolute; top: 0; right: 0px; width: 300px; min-height: 300px; background-color: #F1F1F1; }
        #states div { position: absolute; margin-bottom: 15px; z-index: 100; }
            #arunachal { 
                background: url(../img/states-png/arunachal.png); background-size: 90%; 
                background-repeat: no-repeat;
                top: 50px; left: 30px; width: 80%; height: 130px;
            }

            #assam { 
                background: url(../img/states-png/assam.png); background-size: 80%;
                background-repeat: no-repeat; 
                width: 100%; height: 130px; top: 165px; left: 25px;
            }

            #manipur { 
                width: 120px; height: 120px; background: url(../img/states-png/manipur.png); background-size: 70%;
                background-repeat: no-repeat;
                width: 120px; height: 120px; top: 320px; left: 20px;
            }

            #meghalaya { 
                background: url(../img/states-png/meghalaya.png); background-size: 90%;
                background-repeat: no-repeat; 
                width: 150px; height: 70px; top: 345px; left: 130px;
            }

            #mizoram { 
                background: url(../img/states-png/mizoram.png); background-size: auto 80%;
                background-repeat: no-repeat;
                width: 120px; height: 170px; top: 450px; left: 30px;
            }

            #nagaland { 
                background: url(../img/states-png/nagaland.png); background-size: 80%;
                background-repeat: no-repeat; 
                width: 120px; height: 90px; top: 420px; left: 130px;
            }  

            #sikkim { 
                background: url(../img/states-png/sikkim.png); background-size: auto 90%;
                background-repeat: no-repeat;
                width: 55px; height: 80px; top: 530px; left: 180px;
            }
            
            #tripura { 
                background: url(../img/states-png/tripura.png); background-size: auto 90%;
                background-repeat: no-repeat;
                width: 120px; height: 100px; top: 560px; left: 80px;
            }


.characters {
    position: absolute;
    left: 0; z-index: 10; bottom: 0px;
}

/* **** HOME ***** */
.skip-intro { position: absolute; right: 200px; top: 40px; color: #EED794; cursor: pointer; }
.card-text { font-size: 45px; color: #2889C3; }
    .card-text p { margin-bottom: 15px; }
#first-card .card-text { position: absolute; }

    #first-card #line-one { position: absolute; left: 480px; top: 380px; width: 100px; height: 100px; }
#chinky-card .card-text { position: absolute; z-index: 10; display: none; }

#kid-one {
    background: url(../img/chinky/lullaby-group.png);
    background-repeat: no-repeat; background-size: 700px;
    left: 150px; bottom: 0px; position: absolute;
    width: 350px; height: 430px; 
}

.middle-container {
    position: absolute; width: 1000px; height: 500px; left: 300px; top: 70px; background-color: #EDD89F;
}
    #creepy-guy {
        background: url(../img/chinky/creepy-guy-group.png);
        background-repeat: no-repeat; background-size: 700px;
        right: 200px; top: 113px; position: absolute; width: 250px; height: 430px;
        display: none;
    }

    #line-two { position: absolute; right: 450px; top: 200px; z-index: 10; background-position: -350px; display: none; }

#bar { 
    background: url(../img/bar.png);
    background-repeat: repeat;
    position: absolute;
    width: 420px; height: 432px; z-index: 10;
    right: 0; top: -432px;
}
    .animate-bar { 
        -webkit-animation: dropbar 0.9s ease-in-out 1 forwards;
        -moz-animation: dropbar 0.9s ease-in-out 1 forwards;
        -ms-animation: dropbar 0.9s ease-in-out 1 forwards;
        -o-animation: dropbar 0.9s ease-in-out 1 forwards;
        animation: dropbar 0.9s ease-in-out 1 forwards;
    }

    .pull-bar { 
        -webkit-animation: pullbar 0.9s ease-in-out 1 forwards;
        -moz-animation: pullbar 0.9s ease-in-out 1 forwards;
        -ms-animation: pullbar 0.9s ease-in-out 1 forwards;
        -o-animation: pullbar 0.9s ease-in-out 1 forwards;
        animation: pullbar 0.9s ease-in-out 1 forwards;
    }

@keyframes dropbar{
    0% { opacity:1; }
    100% { top: 0; }
}
@-webkit-keyframes dropbar{
    0% { opacity:1; }
    100% { top: 0; }
}
@-moz-keyframes dropbar{
    0% { opacity:1; }
    100% { top: 0; }
}

@keyframes pullbar{
    0% { opacity:1; }
    100% { top: -432px; }
}
@-webkit-keyframes pullbar{
    0% { opacity:1; }
    100% { top: -432px; }
}
@-moz-keyframes pullbar{
    0% { opacity:1; }
    100% { top: -432px; }
}










	